# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv

# Storage
backend/storage/*
!backend/storage/.gitkeep

# Environment
.env
.env.*.local
!.env.*.example

# Node
frontend/node_modules/
frontend/.next/
frontend/out/

# IDE
.idea/
.vscode/
**/.DS_Store
